@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --color-i: #000;
    --main-color: #7b4bb7;
    --other-color: #2d343f;
}


.light-mode:root {
    --bg-color: #DCDCDC;
    --second-bg-color: #fff;
    --text-color: #000;
    --color-i: #fff;
    --other-color: #C0C0C0;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 20px;
    width: 40px;
    top: 2px;

    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: -2px;

    height: 16px;
    width: 16px;

    transform: translateX(5px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #c3cad5;
    font-size: 10px;
}

.fa-sun {
    color: #f1c40f;
    font-size: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.btn-menu {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--main-color);
    cursor: pointer;
}

.btn-menu::before,
.btn-menu::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--main-color);
    margin-top: 5px;
}

@media (max-width:750px) {


    .btn-menu {
        display: block;
    }

    .navbar {

        display: none;
        flex-direction: column;
        position: absolute;
        top: 99%;
        right: 0;
        width: 20%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    .navbar.active {
        display: block;
        display: flex;
        align-items: center;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
    }

    .navbar a:hover {

        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);

    }

    .btn-menu {
        background-color: transparent;
    }

    .label {
        margin-bottom: 20px;
        margin-top: 10px;
    }

}

@media (max-width: 500px) {

    .navbar {
        width: 30%;
    }
}

@media (max-width: 320px) {

    .navbar {
        width: 40%;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    grid: 8rem;
    background: var(--bg-color);
}

.home-content {
    width: 100%;
}

.home .home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img img {
    position: relative;
    width: 28vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
}

.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}

.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;

}

.social-icon a:hover {
    color: black;
    transform: scale(1.3)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: '';
    color: var(--main-color);
    animation: words 20s infinite;
}

.typing-text span::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 110%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {

    0%,
    20% {
        content: 'Software Developer';
    }

    21%,
    40% {
        content: 'Web Developer';
    }

    41%,
    60% {
        content: 'Front-end';
    }

    61%,
    80% {
        content: 'Full-stack';
    }

    81%,
    100% {
        content: 'Back-end';
    }

}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }

}

@media (max-width:1000px) {
    .home {
        align-items: flex-start;
        gap: 4rem
    }
}

@media (max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 30vw;
    }
}

@media (max-width:450px) {
    .home-img img {
        width: 40vw;
    }

    .home-content span {
        font-size: 20px;
    }

}


@media (max-width:335px) {
    .home-img img {
        width: 40vw;
    }

    .home-content p {
        font-size: 1.5rem;
    }
}

@media (max-width:240px) {
    .social-icon {
        display: flex;
    }
}





.about {
    position: relative;
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    grid: 8rem;
    background: var(--second-bg-color);
}

.heading {
    position: absolute;
    top: 20px;
    font-size: 4rem;
    cursor: pointer;
    transition: 0.4s ease;

}

.heading:hover {

    transform: scale(1.1);
    filter: drop-shadow(0 0 10px var(--main-color));
    color: var(--main-color);
}

.about-box {
    background-color: var(--main-color);
    height: 30%;
    border-radius: 3rem;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.about-box:hover {
    background: transparent;
    color: var(--text-color);
    transform: scale(1.03);
    border: 1px solid var(--main-color);
}

.about-box .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    padding-bottom: 60px;
    height: 100%;
}

.about-info h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
}


.about-info p {
    font-size: 1.6rem;
    font-weight: 400;
}



.about-img img {
    position: relative;
    width: 25vw;
    border-radius: 40%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
}

.about-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 30px;

}

.container .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.8rem;
    align-items: center;
    justify-content: center;

}

.row img:hover {
    animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-8px) scale(1.1);
    }
}



@media (max-width:991px) {
    section {
        padding: 10rem 3% 2rem;
    }

    .about {
        padding-bottom: 7rem;
    }
}

@media (max-width:895px) {
    .about h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width:800px) {
    .about {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 40vw;
        position: relative;
        top: 50px;
    }

}


@media (max-width:450px) {
    .container .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
}

@media (max-width:290px) {

    .container .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

}


.skills {
    position: relative;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.skills .heading {
    position: relative;
    text-align: center;
}


.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-template-columns: repeat(6, 1fr);
    gap: 1.3rem;
    margin: 100px;
}

.box {
    background: var(--other-color);
    width: 150px;
    height: 200px;
    padding-top: 20px;
    margin-top: 10px;


    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    transition: all .50s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box img {
    position: relative;
    top: -40px;
}

.box h3 {
    position: relative;
    color: var(--text-color);
    bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}

.skill {
    position: relative;
    top: 10px;
    border-radius: 10px;
    width: 70%;
    height: 5px;
    background-color: #000;
    animation: animate 0.7s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;

}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.skill span {
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 10px;
    animation: animate 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.skill.html span {
    width: 80%;
}

.skill.css span {
    width: 85%;

}

.skill.sass span {
    width: 80%;

}

.skill.tailwind span {
    width: 75%;

}

.skill.js span {

    width: 50%;
}

.skill.typescript span {

    width: 50%;
}

.skill.react span {

    width: 65%;
}

.skill.node span {
    width: 35%;

}

.skill.figma span {
    width: 70%;

}

.skill.wordpress span {
    width: 55%;

}

.skill.postgres span {

    width: 30%;
}

.skill.mongo span {
    width: 30%;

}

.skill.docker span {
    width: 40%;

}

.skill.github span {
    width: 75%;

}

.skill.git span {
    width: 70%;

}

.skill span::after {
    position: absolute;
    padding: 1px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -15px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}

.skill.html span::after {
    content: "80%";
}

.skill.css span::after {
    content: "85%";

}

.skill.sass span::after {
    content: "80%";

}

.skill.tailwind span::after {
    content: "75%";

}



.skill.js span::after {

    content: "50%";
}

.skill.typescript span::after {

    content: "50%";
}

.skill.react span::after {

    content: "65%";
}

.skill.node span::after {
    content: "35%";

}

.skill.figma span::after {
    content: "70%";

}

.skill.wordpress span::after {
    content: "55%";

}

.skill.postgres span::after {

    content: "30%";
}

.skill.mongo span::after {
    content: "30%";

}

.skill.docker span::after {
    content: "40%";

}

.skill.github span::after {
    content: "75%";

}

.skill.git span::after {
    content: "70%";

}

.skill span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    position: relative;
    width: 140%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 55px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 7.5;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: 1;
    }

}

.path {
    stroke-width: 10;
    stroke: var(--main-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path 1s 1s linear forwards;
}

@keyframes animate-path {
    100% {
        stroke-dashoffset: 50;
    }

}

@keyframes animate-path {
    100% {
        stroke-dashoffset: 175;
    }

}

@keyframes animate-path {
    100% {
        stroke-dashoffset: 125;
    }

}

@keyframes animate-path {
    100% {
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 700;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 700;
    font-size: 18px;
}

.progress-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;

}

.box:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);

}


@media (max-width:1040px) {
    .skills-content {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (max-width:700px) {
    .skills-content {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:520px) {
    .skills-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .radial-bars {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media (max-width:350px) {
    .skills-content {
        grid-template-columns: repeat(1, 1fr);
    }

}


.project {
    background: var(--second-bg-color);
    position: relative;

}

.project .heading {
    position: relative;
    text-align: center;
}


.project .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 100px;
}

.project .project-container .project-box {
    flex: 1;
    border-radius: 10px;
    height: 250px;
    position: relative;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    overflow: hidden;


}

.project .project-container .project-box img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all 0.2s ease;
}

.project .project-container .project-box:hover img {

    transform: scale(1.2);
}

.project .project-container .project-box .project-content {
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    transition: all 0.4s ease;
}

.project .project-container .project-box:hover .project-content {
    transform: translateY(-249px);

}

.project .project-container .project-box .project-content h3 {

    color: var(--text-color);
    font-size: 30px;
}

.project .project-container .project-box .project-content p {
    color: var(--text-color);
    margin: 10px 0;
    text-transform: capitalize;
}

.project .project-container .project-box .project-content a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    border-radius: 20px;
    color: var(--color-i);
}

@media (max-width: 662px) {
    .project .project-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}


@media (max-width: 580px) {
    .project .project-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        display: grid;
    }
}

@media (max-width: 350px) {
    .project .project-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 233px) {
    .project .project-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}


.contact .heading {
    text-align: center;
    position: relative;
    margin-bottom: 70px;
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

.contact form textarea {
    height: 200px;
}

.contact form .btn {
    margin-top: 2rem;
}

.span-required {
    position: relative;
    bottom: 8px;
    font-size: 12px;
    color: #e63636;
    display: none;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}

.footer .social {
    text-align: center;
    color: #000;
}

.footer .social a {
    font-size: 25px;
    color: #000;
    border: 2px solid #000;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-5px);
    background: #000;
    color: var(--main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: #000;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid #000;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #000;
}

@media (max-width: 1285px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}